@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your Campaign Wiki</h1>
    <p>Your own campaign's wiki. Organize your D&D (or other TTRPG) campaign information here! Store characters, places of interest, etc. here for you and your players to see and curate.</p>
</div>
